/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.05.2014, 22:10:39
    Author     : jbolay
*/
.table-hover{
    //background-color: #AA9A66;
}
#header{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tableDiv{
    width: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}
tr{
    cursor: pointer;
}