<!DOCTYPE html>

<html lang="en" data-ng-app="calendarApp">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/calendar.css">
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body data-ng-controller="CalendarController">

        <a href="" ng-click="toggleShowCreate()">Termin hinzufügen</a>
        <div data-ng-show="showCreateEvent">
            <form>
                Termin: <input type="text" data-ng-model="newEvent.summary"/><br/>
                Start: <input type="datetime-local" data-ng-model="newEvent.start"/><br/>
                Ende: <input type="datetime-local" data-ng-model="newEvent.end"/><br/> 
                Leitung: <input type="text" data-ng-model="newEvent.extendedProperties.shared.leading"/><br/>
                Feuer: <input type="text" data-ng-model="newEvent.extendedProperties.shared.fire"/><br/>
                Appell: <input type="text" data-ng-model="newEvent.extendedProperties.shared.muster"/><br/>
                Lieder: <input type="text" data-ng-model="newEvent.extendedProperties.shared.songs"/><br/>
                Essen: <input type="text" data-ng-model="newEvent.extendedProperties.shared.food"/><br/>
                Spiel St/Kd: <input type="text" data-ng-model="newEvent.extendedProperties.shared.gameStKd"/><br/>
                Andacht St/Kd: <input type="text" data-ng-model="newEvent.extendedProperties.shared.sermonStKd"/><br/>
                Spiel Pf: <input type="text" data-ng-model="newEvent.extendedProperties.shared.gamePf"/><br/>
                Andacht Pf: <input type="text" data-ng-model="newEvent.extendedProperties.shared.sermonPf"/><br/>
                Zusätzliche Infos: <input type="text" data-ng-model="newEvent.extendedProperties.shared.additionalInfo"/><br/>
                <button ng-click="update(newEvent)">SAVE</button>
            </form>
            hier wird ein neuer Termin erstellt
        </div>
        <div class="tableDiv">
            <table class="table table-striped">
                <tr>
                    <th>Datum</th>
                    <th>Aktion</th>
                </tr>
                <tr data-ng-repeat="event in events" data-ng-click="click(event)">
                    <td>
                        <div>{{event.start.weekday}} {{event.start.dateTime | date:'d.MMM H:mm'}} -<br/>
                            {{event.start.weekday}} {{event.end.dateTime | date:'d.MMM H:mm'}}</div>
                    </td>
                    <td>
                        <div id="header">{{event.summary}}</div>
                        <div ng-hide="event.hiddenDiv">
                            Leitung: {{event.extendedProperties.shared.leading}}<br/>
                            Feuer: {{event.extendedProperties.shared.fire}}<br/>
                            Appell: {{event.extendedProperties.shared.muster}}<br/>
                            Lieder: {{event.extendedProperties.shared.songs}}<br/>
                            Essen: {{event.extendedProperties.shared.food}}<br/>
                            Spiel St/Kd: {{event.extendedProperties.shared.gameStKd}}<br/>
                            Andacht St/Kd: {{event.extendedProperties.shared.sermonStKd}}<br/>
                            Spiel Pf: {{event.extendedProperties.shared.gamePf}}<br/>
                            Andacht Pf: {{event.extendedProperties.shared.sermonPf}}<br/>
                            Zusätzliche Infos: {{event.extendedProperties.shared.additionalInfo}}<br/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
    
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
        <script data-require="ng-table@*" data-semver="0.3.0" src="http://bazalt-cms.com/assets/ng-table/0.3.0/ng-table.js"></script>
        <script src="https://apis.google.com/js/client.js?onLoad=load"></script>
        <script src="js/calendarService.js"></script>
        <script src="js/controllers.js"></script>
        
        
        
    </body>
</html>